.newPost {
    cursor: pointer;
    .newsItemImage {
      max-height: 300px;
    }
  }
  .listNewsMore {
    background-color: #baa62f;
  }
  .listNewsMore:hover {
    background-color: black;
  }
  