.footer {
  background-color: #baa62f;
  color: #190301;
  padding: 3rem 0;

  .footerContact {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;

    .iconsContact {
      display: flex;
      width: 100%;
      justify-content: space-between;
      .icon {
        color: #414141;
        font-size: 2rem;

        &:hover {
          color: #460000 !important;
        }
      }
    }
  }

  .footerContain {
    align-items: center;
    height: 15.5rem;

    @media screen and (max-width: 576px) {
      height: auto;

      .footerLogo {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
      }

      .infoContact {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 80vw;

        .infoCompany {
          text-align: left;
        }
      }

      .footerContact {
        align-items: center;
        .iconsContact {
          justify-content: space-around;
        }
      }

      .footerContactIcon {
        margin-top: 1rem;
      }
    }
  }
}
