.header {
  .sologan {
    margin-left: 7px;
    font-weight: bold;
    font-family: "Passions Conflict";
    font-size: 40px;
    @media screen and (max-width: 576px) {
      font-size: 35px;
    }
  }
  a {
    font-weight: bold;
    font-family: Roboto;
    color: black;
  }
  a:hover {
    color: rgb(59, 146, 56);
  }
}
