.parentHeader{
  box-shadow: 0px 0px 3px 1px gray;
}
.header {
  position: relative;
  .fabars{
    font-size: 26px;
    position: fixed;
    left: 15px;
    @media screen and (min-width: 1401px) {
      display: none;
    }
  }
  .menuLeft{
    @media screen and (max-width: 1400px) {
      justify-content: center;
    }
  }
  .sologan {
    margin-left: 7px;
    font-weight: bold;
    font-family: "Passions Conflict";
    font-size: 40px;
    @media screen and (max-width: 576px) {
      font-size: 35px;
    }
  }
  a {
    font-weight: bold;
    font-family: Roboto;
    color: black;
  }
  a:hover {
    color: rgb(59, 146, 56);
  }
  .image{
    width: 70px;
    height: 70px;
  }
  .menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    div{
      word-break: break-word;
      span{
        font-weight: bold;
        padding: 0px 10px;
        display: inline-block;
        cursor: pointer;
        &:hover{
          color: rgb(247, 95, 103);
        }
      }
      span:last-child{
        padding-right: 0px;
      }
    }
    .service{
      line-height: 80px;
    }
     @media screen and (max-width: 1400px) {
      display: none;
    }
  }
  .serviceChild{
    box-shadow: 0px 0px 3px 1px gray;
    position: absolute;
    z-index: 3;
    background-color: white;
    display: flex;
    right: 10px;
    justify-content: space-between;
    width: 803px;
    padding: 20px;
    display: none;
    .title{
      font-weight: bold;
      border-bottom: 3px solid black;
    }
    .text{
      font-weight: 600;
      div{
        padding: 2px 0px;
        cursor: pointer;
        font-size: 0.9rem;
        &:hover{
          color: green;
        }
      }
      div:first-child{
        padding-top: 6px;
      }
    }
  }
  .serviceChild2{
    display: none;
    .title{
      border-bottom: 1px solid gray;
      padding-left: 20px;
      padding-top: 3px;
      padding-bottom: 3px;
      font-size: 0.9rem;
      cursor: none !important;
    }
    border-bottom: none !important;
    padding-left: 0px !important;
  }
  .serviceChild3{
    div {
      border-bottom: 1px solid gray;
      padding-left: 35px;
      padding-top: 3px;
      padding-bottom: 3px;
      font-size: 0.8rem;
      font-weight: 600;
      &:hover{
        color: green;
      }
    }
  }
  .stickyMenu{
    overflow-y: scroll;
    display: none;
    font-weight: bold;
    top: 0;
    background-color: white;
    position: fixed;
    z-index: 5;
    left: 0;
    bottom: 0;
    width: 250px;
    & > div{
      border-bottom: 1px solid gray;
      padding-top: 3px;
      padding-bottom: 3px;
      padding-left: 5px;
    }
    .itemMenu:hover{
      color: rgb(253, 94, 94);
    }
    div{
      cursor: pointer;
    }
    .faTimes{
      text-align: right;
      border-bottom: none;
    }
    .iconFaTimes{
      font-size: 25px;
    }
    @media screen and (min-width: 1401px) {
      display: none !important;
    }
  }
  .shadow{
    display: none;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
    @media screen and (min-width: 1401px) {
      display: none;
    }
  }
  .iconExpand{
    font-size: 20px;
    margin-right: 3px;
  }
}
