.productionContainer {
  .filterRow {
    padding: 0 1rem;
    .filterContain {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem;
      background: #eaeaea;

      .displayRecord {
        width: 120px;

        select {
          font-size: 0.75rem;
        }
      }
    }
  }

  .productRow {
    justify-content: flex-start;
  }

  .paginationPage {
    :global {
      display: flex;
      margin: 1rem auto;
      list-style: none;
      justify-content: center;

      li {
        cursor: pointer;
        border: 1px solid transparent;
        border-radius: 4px;

        a {
          padding: 6px 12px;
          display: inline-block;
        }

        &.selected {
          color: #ff6600;
          border: 1px solid #eeeeee;
          border-radius: 4px;
        }
      }
    }
  }
}
