.productionContainer {
  .filterRow {
    padding: 0 1rem;
    .filterContain {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem;
      background: #eaeaea;

      .filter {
        width: 70%;
        display: flex;
        align-items: center;

        .buttonFilter {
          display: inline-block;
          position: relative;
          padding: 3px 10px;
          background: #fff;
          border: 1px solid #e1e1e1;
          margin-left: 8px;
          color: #333;
          font-size: 0.75rem;

          &:hover {
            color: #326e51;
          }

          &.active {
            background: #326e51;
            color: #fff;
          }
        }
      }

      .displayRecord {
        width: 120px;

        select {
          font-size: 0.75rem;
        }
      }
    }
  }

  .productRow {
    justify-content: flex-start;
  }
}
