.recurit{
    .item{
        display: flex;
        font-size: 1.1rem;
        & > div:last-child{
            margin-left: 15px;
            width: 70%;
            text-align: justify;
        }
        @media screen and (max-width: 772px){
            display: block;
            .image{
                width: 100%;
                height: 250px;
            }
            & > div:last-child{
                margin: 0px;
                width: 100%;
                text-align: justify;
            }
        }
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        border-bottom: 2px solid rgb(192, 173, 6);
    }
    .parentContent {
        & > div:last-child{
            border-bottom: none;
        }
    }
    .image{
        width: 30%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .title{
        font-size: 1.5rem;
        font-weight: bold;
    }
}