.sliderItem {
  padding: 1rem;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .image {
    height: 250px;
    width: 100%;

    img {
      object-fit: cover;
    }

    & > span {
      width: 100% !important;
      height: 100% !important;
    }
  }

  .content {
    margin-top: 0.7rem;
    .title {
      color: #140d00;
      font-size: 1.15rem;
      font-weight: 700;
      text-align: justify;
    }

    .detail {
      font-size: 0.9rem;
    }
  }
}
